<div class="three columns">

    {% if categories and categories|length > 1 %}
        <h3>Categories</h3>
        <ul class="blank">
            {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if tag_cloud %}
    <h3>Tags</h3>
        <ul class="blank">
        {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0|e }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Recent Posts</h3>

    {% set recent = articles if not all_articles else all_articles %}
    <ul class="blank">
        {% for a in recent %}
          {% if loop.index <= 6 %}
            <li>
              <a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>

    {% if LINKS %}
        <nav class="widget">
          <h3>Blogroll</h3>
          <ul class="blank">
          {% for name, url in LINKS %}
            <li>
                <a href="{{ url|e }}">{{ name }}</a>
            </li>
          {% endfor %}
          </ul>
        </nav>
    {% endif %}

</div>